@import './../../../scss/styles';

.loginDisplay{
    padding: 2rem 2rem 2rem 2rem;
    .item{
        width: 100%;
        border-radius: .4rem;
        background-color: $black-2;
        a{
            width: 100%;
            padding: .4rem 1rem;
            text-decoration: none;
            display: block;
            text-align: center;
            display: flex;
            justify-content: flex-start;
            align-items: center;
            align-content: center;
            img{
                margin-right: .5rem;
            }
            p{
                text-transform: capitalize;
            }
        }
        &:not(:last-child){
            margin-bottom: 1rem;
        }
    }
    .dangerZone {
        margin-top: 2rem;
        .title {
            padding-bottom: 1rem;
        }
        .dangerBtn {
            background-color: $red-0;
            border-radius: .4rem;
            border: none;
            padding: .4rem 1rem;
            color: $black-1;
            margin-left: auto;
        }
    }
}

@include for-desktop-up {
    .loginDisplay{
        display: flex;
        justify-content: flex-start;
        align-items: center;
        align-content: center;
        flex-direction: column;
        .item{
            width: 50%;
            max-width: 800px;
            transition: background-color .1s ease-in-out;
            &:hover, &:focus {
                background-color: darken( $black-2, 5 );
            }
            &:active {
                background-color: darken( $black-2, 7.5 );
            }
        }
        .dangerZone {
            margin-top: 2rem;
            max-width: 800px;
            width: 50%;
            .title, .dangerBtn {
                margin-right: auto;
            }
            .dangerBtn {
                transition: background-color .1s ease-in-out;
                text-transform: capitalize;
                &:hover {
                    cursor: pointer;
                }
                &:hover, &:focus {
                    background-color: darken( $red-0, 5 );
                }
                &:active {
                    background-color: darken( $red-0, 7.5 );
                }
            }
        }
    }
}