@import '../../../../scss/styles';

.signUp{
    .inputGroup{
        // display: none;
        label, input{
            display: block;
        }
        label{
            text-transform: capitalize;
            font-weight: 600;
            margin-bottom: .5rem;
        }
        input{
            background-color: $black-0;
            border: none;
            border-radius: .5rem;
            padding: .45rem 1rem;
            width: 100%;
        }
        &:not(:last-child){
            padding-bottom: 1rem;
        }
    }
    .errors{
        color: $red-0;
    }
    .submitBtn{
        margin-top: 1rem;
        width: 100%;
        padding: .45rem 1rem;
        color: $black-0;
        background: $acent-0;
        border: none;
    }
}