@import '../../scss/styles';

.productTemplate{
    min-height: 100vh;
    padding-bottom: 20vh;
    .image{
        position: relative;
        .imgEl{
            display: block;
        }
        &::after{
            position: absolute;
            content: '';
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            z-index: 10;
            background: $lg-to-balack-1;
        }
        .backButton{
            position: absolute;
            bottom: 2rem;
            left: 2rem;
            z-index: 15;
        }
        .likeButton{
            position: absolute;
            bottom: 2rem;
            right: 2rem;
            z-index: 15;
        }
    }
    .content{
        .desktopControls{
            display: none;
        }
        .header{
            padding: 0 2rem;
            display: flex;
            justify-content: space-between;
            align-items: flex-end;
            align-content: flex-end;
    
            font-weight: 600;
            
            .title{
                font-size: 1.5rem;
                text-transform: capitalize;
            }
            .price{
                font-size: 1.25rem;
                color: $acent-0;
            }
        }
        .variantSelectorComp{
            padding: 2rem 2rem;
        }
        .btnSection{
            padding: 2rem 2rem;
            display: flex;
            justify-content: flex-end;
        }
    }
}

@include for-desktop-up {
    .productTemplate{
        display: flex;
        justify-content: center;
        align-items: center;
        align-content: center;
        .image{
            flex-grow: 1;
            height: 100%;
            max-height: 100vh;
            overflow: hidden;
            max-width: 50%;
            .imgEl{
                min-height: 100%;
                height: 100vh;
            }
            &::after, .backButton, .likeButton {
                display: none;
            }
        }
        .content{
            flex-grow: 1;
            .desktopControls{
                display: flex;
                justify-content: space-between;
                align-items: center;
                align-content: center;
                padding: 0rem 2rem 2rem 2rem;
            }
            .header{
                display: block;
            }
            .btnSection{
                min-height: 6.25rem;
            }
        }
    }
}