//** white colors **//
$white-0: #EEEEEE;
$white-0-op25: transparentize($white-0, .75);
$white-0-op50: transparentize($white-0, .5);
$white-0-op75: transparentize($white-0, .25);

//** black colors **//
$black-0: #1C1C1E;
$black-1: #252525;
$lg-to-balack-1: linear-gradient(180deg, #25252500 0%, #252525 100%);

//** grey colors **//
$grey-0: #5B5B5B;

//** acent colors **//
$acent-0: #FFB8B8;

//** event colors **//
$red-0: #EB5757;
$yellow-0: #F2C94C;
$green-0: #27AE60;
