@import '../../../scss/styles';

.logoutDisplay{

    .title{
        text-align: center;
        width: 100%;
        padding-bottom: 1.25rem;
        font-size: 1.25rem;
        font-weight: 600;
    }
    .inner{

        .signinOptions{
            padding: 0 2rem;
            .title{
                font-size: 1rem;
                text-align: left;
                padding-bottom: .5rem;
                font-weight: 400;
            }
            .signInWithGoogle{
                width: 100%;
                padding: .45rem 1rem;
                text-transform: capitalize;
                color: $acent-0;
                background: $black-2;
                border: none;
            }
        }
    
        .divider{
            width: 100%;
            padding: 1rem 0;
            text-align: center;
            position: relative;
            user-select: none;
    
            &::after{
                content: '';
                position: absolute;
                width: 42%;
                opacity: .5;
                transform: translate(0, 50%);
                height: .1rem;
                top: 50%;
                left: 0;
                background: $white-0;
            }
            &::before{
                content: '';
                position: absolute;
                width: 42%;
                opacity: .5;
                transform: translate(0, 50%);
                height: .1rem;
                top: 50%;
                right: 0;
                background: $white-0;
            }
        }

        .inputMethods{
            .toggler{
                display: flex;
                justify-content: center;
                align-items: center;
                align-content: center;
                width: 100%;
                padding: 1rem 2rem 2rem 2rem;
                
                button{
                    background: none;
                    border: none;
                    font-size: 1rem;
                    text-transform: capitalize;
                }
            }
            .methodCompWrapper{
                padding: 0 2rem;
            }
        }
    }
    
}

@include for-desktop-up {
    .logoutDisplay{

        .inner{
            display: flex;
            justify-content: center;
            align-items: stretch;
            align-content: center;

            .divider{
                display: none;
            }
    
            .signinOptions{
                margin-right: 10vw;
                margin-top: 5vh;

                .title{
                    text-align: center;
                    padding: 2rem;
                }

                .signInWithGoogle{
                    transition: 
                        background-color .1s ease-in-out,
                        color .1s ease-in-out;
                    &:hover{
                        cursor: pointer;
                    }
                    &:focus, &:hover{
                        background-color: darken( $black-2, 5);
                    }
                    &:active{
                        background-color: darken( $black-2, 7.5);
                        color: lighten( $acent-0, 5 );
                    }
                }
            }
            .signinOptions, .inputMethods{
                margin-top: 5vh;
                flex-grow: 1;
                max-width: 40vw;
            }
        }

    }
}