@import '../../../scss/styles';

.checkoutSection{
    background: $black-2;
    padding: 1rem 2rem 15vh 2rem;
    .details{
        display: flex;
        align-content: center;
        align-items: center;
        justify-content: space-between;
        p{
            display: block;
            font-weight: 600;
        }
    }
    .checkOutBtn{
        padding-top: 1rem;
        width: 100%;
        button{
            color: $black-0;
            background: $acent-0;
            border: none;
            width: 100%;
            padding: .5rem;
            font-size: 1rem;
            a{
                color: $black-0;
                text-decoration: none;
            }
        }
    }
}

@include for-desktop-up {
    .checkoutSection{
        padding: 2rem 2rem 2rem 2rem;
        .details, .checkOutBtn{
            margin: 0 auto;
            max-width: 600px;
            min-width: 300px;
            width: 100%;
        }
        .checkOutBtn button{
            transition: background-color .1s ease-in-out;
            &:hover {
                cursor: pointer;
            }
            &:hover, &:focus {
                background-color: darken( $acent-0, 5);
            }
            &:active {
                background-color: darken( $acent-0, 7.5);
            }
            a{
                color: $black-0;
                text-decoration: none;
            }
        }
    }
}