@import '../../scss/styles';

.navbar{
    .navbarMobile{
        display:block;
    }
    .navbarDesktop{
        display:none;
    }
    @include for-desktop-up {
        .navbarMobile{
            display:none;
        }
        .navbarDesktop{
            display:block;
        }
    }
}