.mobileHome {
    .header{
        margin: 0 2rem;
        display: flex;
        align-items: center;
        align-content: center;
        justify-content: flex-end;
        .imageLink{
            margin-left: .5rem;
            min-width:2rem;
            display: flex;
            align-items: center;
            align-content: center;
            justify-content: center;
        }
    }
}