@import './../../../scss/styles';

.addToCartButton{
    background-color: $acent-0;
    border-radius: .8rem;
    border: none;

    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;

    padding: .5rem 1rem;

    
    .icon{
        height: 1rem;
        width: 1rem;
    }
    .text{
        color: $black-0;
        font-weight: 600;
        padding-right: .5rem;
    }

    transition: .1s ease-in-out background-color;
    &:hover {
        cursor: pointer;
    }
    &:hover, &:focus {
        background-color: darken( $acent-0, 5 );
    }
    &:active {
        background-color: darken( $acent-0, 7.5 );
    }
}