@import '../../../scss/styles';
.cartItemsDisplayer{
    .item:not(:last-child){
        padding-bottom: 2rem;
    }
    .emptyCart{
        width: 70vw;
        margin: auto;
        a{
            color: $acent-0;
        }
    }
}

@include for-desktop-up {
    .cartItemsDisplayer{
        .emptyCart{
            text-align: center;
        }
    }
}