@import '../../../scss/styles';

.searchInput{
    position: relative;
    width: 100%;
    // background: green;
    overflow: hidden;
    .input{
        display: block;

        background: transparent;
        border: none;
        
        padding: .25rem 1.5rem .25rem .25rem;
        
        font-size: 1rem;
        max-width: 1.75rem;
        
        margin-left: auto;
        outline: none;
        
        &:focus{
            max-width: 100%;
            padding: .25rem 2rem .25rem 1rem;
            transition: background .1s ease-in-out;
            background: lighten($black-0, 10);
        }
    }
    .icon{
        user-select: none;
        pointer-events: none;
        position: absolute;
        right: .25rem;
        width: 1.5rem;
        height: 1.5rem;
        top: 50%;
        transform: translateY(-50%);
    }
    &.expanded .input{
        margin-left: 0;
        max-width: 100%;
        width: 100%;
        padding: .25rem 2rem .25rem 1rem;
        background: lighten($black-0, 10);
        &:focus{
            transition: none;
        }
    }
}